{% extends "base.html" %}

{% load i18n %}


{% block body %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/admin/" target="_blank">{% trans "Administration" %}</a></li>
                {% for mdl in models %}
                    <li>
                        <a href="#{{ mdl.lname }}" data-href="{{ mdl.get_list_url }}"
                           data-create-url="{{ mdl.get_create_url }}"
                           data-model="{{ mdl }}">{{ mdl }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block body-tail-js %}
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function submit_form_data($form) {
        $.ajax({
            type: 'POST',
            url: '/dynmodels/' + model + '/' + pk + '/update',
            data: $form.serialize(),
            success: function(data) {
                var response = JSON.parse(data);
                if (response.result == 'ok') {
                    $(this).off("focusout");
                    var value = $input.val();
                    $td.html(value);
                } else {
                    console.debug(response.errors);
                }
            }
        });
    }

    function bind_form($td, $form) {
        $(this).on("focusout", 'input', function (event) {
            submit_form_data($form);
        });
    }

    function bind_table($table) {
        $table.on("click", 'td', function (event) {
            var $td = $(this);
            var value = $td.text();
            var field = $td.attr('data-name');
            var model = $table.attr('data-model');
            var pk = $(this).attr('data-pk');

            $table.off("click");
            $td.html('<form action="."><input id="id_' + field + '" name="' + field + '" value="' + value + '"></form>');
            bind_form($td, $($td.find('form')[0]));
        });
    }

    $(document).ready(function () {
        var csrftoken = $.cookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('table').on("click", 'td', function (event) {
            var $table = $('table');
            var $td = $(this);
            var value = $(this).text();
            var field = $(this).attr('data-name');
            var model = $table.attr('data-model');
            var pk = $(this).attr('data-pk');
            $table.off("click");

            $(this).html('<form action="."><input id="id_' + field + '" name="' + field + '" value="' + value + '"></form>');
            $(this).on("focusout", 'input', function (event) {
                var $form = $($(this).closest('form'));
                var $input = $(this);

                $.ajax({
			        type: 'POST',
                    url: '/dynmodels/' + model + '/' + pk + '/update',
			        data: $form.serialize(),
			        success: function(data) {
                        var response = JSON.parse(data);
                        if (response.result == 'ok') {
                            $(this).off("focusout");
                            var value = $input.val();
                            $td.html(value);
                        } else {
                            var response = JSON.parse(data);
                            console.debug(response.errors);
                        }
                    }
                });
            });
        });

        $('ul.nav li').on("click", 'a', function (event) {
            event.preventDefault();

            $.ajax({
                type: "GET",
                dataType: "json",
                url: $(this).attr('data-href'),
                cache: false
            })
            .done(function( data ) {
                        var head_flag = true;
                        var $table = $('table');
                        var $tbody = $('table > tbody');
                        $tbody.html('');
                        $table.attr('data-model', data.model_name);
                        $.each(data.object_list, function( i, item ) {
                            var $head = $("<tr></tr>");
                            var $row = $("<tr></tr>");
                            $.each(item.fields, function(field, value) {
                                if(head_flag) {$head.append('<th>' + field + '</th>')}
                                $row.append('<td data-pk="' + item.pk + '" data-name="' + field + '" data-type="' + data.types_list[field] + '">' + value + '</td>');
                            });
                            if(head_flag) {
                                $tbody.append($head);
                                head_flag = false;
                            }
                            $tbody.append($row);
                        });
            });
        });
    });
</script>
{% endblock %}