{% load i18n %}
{% load addclass %}

<form method="post" class="form-horizontal">
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
            {{ field|addclass:"form-control" }}
            <span class="field-errors" style="color:red">{{ field.errors }}</span>
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
        </div>
    </div>
</form>